.title1 {
  font-family: Verdana, sans-serif;
  font-size: 26px;
  padding-top: 10px;
  text-align: center;
}
.title2 {
  font-family: sans-serif;
  font-size: 26px;
  padding-top: 10px;
  margin-right: 20px;
}
.crad {
  margin-top: 20px;
}

.main {
  font-family: "Karma", sans-serif;
}
.navstick {
  height: 100px;
  /* top: 0; */
}
.a {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
.img9 {
  margin-left: 200px;
}
